*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*navbar*/
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c70e1a;
  padding: 30px;
  position: sticky;
  top: 0;
}

.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px, 0px;
}

.navbar ul li{
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5 ease;
}

.navbar ul li a:hover {
  background-color: white;
  color: #EFA0D5;
  box-shadow: #ffbde9;
}

/*center intro sentence*/
.h1 {
  text-align: center;
  color: #EFA0D5
}
/* putting text next to picture (float)*/
.container{
  /*margin: 150px auto;*/
  height: 100%
  width: 100%;
  padding: 0px;
}
img {
  float: left;
  width: 200px;
  height: 200px;
  padding: 0 10px 0px;
  top: -125px;
}
.text {
  text-align: justify;
  font-family: sans-serif;
  color: #ba020e;
}
